{% extends './layout.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">

                <form action="{% url 'tasks:signup' %}" method="post" class="card card-body">
                    {% csrf_token %}

                    <h1 class="text-center">Registrate aquí</h1>

                    {% if errors %}
                        <div class="alert alert-danger">
                            <div class="text-center">
                            {% for error in errors %}
                                <p class="fw-bold">{{ error }}</p>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="username">Usuario:</label>
                        <input type="text" name="username" id="username" autocomplete="off" autofocus required class="form-control" placeholder="Escribe tu usuario...">

                        {% if form.username.errors %}
                            <div class="alert alert-danger mt-2 p-0 fw-bold">
                                <p class="p-0">{{form.username.errors}}</p>
                            </div>
                        {% endif %}

                    </div>

                    <div class="mb-3">
                        <label for="password1">Clave:</label>
                        <input type="password" name="password1" id="password1" autocomplete="off"  required class="form-control" placeholder="Escribe tu clave...">

                        {% if form.password1.errors %}
                            <div class="alert alert-danger mt-2 p-0 fw-bold">
                                <p class="p-0">{{form.password1.errors}}</p>
                            </div>
                        {% endif %}

                    </div>

                    <div class="mb-3">
                        <label for="password2">Confirma tu clave:</label>
                        <input type="password" name="password2" id="password2" autocomplete="off" required class="form-control" placeholder="Confirma tu clave...">
                        
                        {% if form.password2.errors %}
                            <div class="alert alert-danger mt-2 p-0 fw-bold">
                                <ul class="errorlist">
                                    {% for error in form.password2.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                    
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>

            </section>
        </div>
    </main>
{% endblock%}